body, a, header{
    background-color: black;
    color: seashell;
    font-size: 22px;
    font-family: Helvetica;
    opacity: 0.9;
}
/* Borders for all items to determine build levels*/
/*div {
    border: 1px solid white;
}*/

header{
    top: 0px;
    display: flex;
    position: fixed;
    height: 69px;
    border-bottom: 1px solid seashell;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}
header nav{
    flex: 1 1;
    padding: 0px 20px;
}
nav span{
    display: inline-block;
    padding: 10px 5px;
    text-decoration: underline;
}
.content {
    display: flex;
    padding-top: 69px;
    flex-direction: column;
    align-items: center;
}
.logo {
    font-size: 50px;
    font-family: snell roundhand;
    padding: 10 0 10 0;
}
/*This is the Mission Statment Styling*/
.top{
    display: flex;
    background-image: url("mission-background.jpg");
    height: 700px;
    width: 1200px;
    flex-grow: 2;
    justify-content: center;
    flex-direction: column;
}
.text, h4 {
    text-align: center;
    background-color: black;
}
/*subsection title layout*/
.titl {
    text-align: center;
}
/* This is the styling for Tea of the Month*/
.middle {
    display: flex;
    width: 1000px;
    flex-direction: column;
}
.teas{
    align-items: center;
}
.photos {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap row;
    align-items: center;
}
.middle h4{
    padding-top: 10px;
}
.middle img{
    height: 200px;
    width: 300px;
}

/*Bottom container formating*/
.bottom {
    height: 500px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("locations-background.jpg");
}
.location {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}
.loca span{
    padding: 15px;
}
.loca {
    display: flex;
    width: 300px;
    background-color: black;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    opacity: 1;
    align-content: flex-start;

}


/*Footer Styling*/
footer {
    display: fixed;
    bottom: 10px;
    padding-left: 20px;
}
/*Bottom contact styling*/
.contact{
    text-align: center;
    height: 200px;
}




